## Visual Studio / Windows build outputs
.vs/
.vscode/
*.user
*.suo
*.vcxproj.user
*.VC.db
*.VC.VC.opendb
*.sln.docstates

## Build outputs
x64/
Release/
Debug/
obj/
bin/
*.obj
*.pdb
*.exp
*.lib
*.dll
*.sys
*.cat
*.log

## Release archives
*.zip

## Git metadata
.git/

dist/
